.background{
   background-color: rgba(153, 215, 178,0.6);
}

.header{
  font-family: 'Poiret One', cursive;
  text-align: center;
}

.col-md-8 about-me{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: medium;
}

.col-md-8 contact-me{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: medium;
}

.welcome h3{
  font-family: 'Poiret One', cursive;
  border: 1px solid black;
  text-align: center;
}

.projects h3{
  font-family: 'Poiret One', cursive;
  border: 1px solid black;
  text-align: center;
}

.about-me h3{
  font-family: 'Poiret One', cursive;
  border: 1px solid black;
  text-align: center;
}


.contact-me h3{
  font-family: 'Poiret One', cursive;
  border: 1px solid black;
  text-align: center;
}


p{
  font-family: 'Poiret One', cursive;
  font-size: 18px;
}

ul{
  font-family: 'Poiret One', cursive;
  font-size: 18px;
}

ol{
  font-family: 'Poiret One', cursive;
  font-size: 18px;
}
